.titulo{
  text-align: center;
  text-decoration: underline;
}

.principal__contacto{
  background-color: #ffffff;
}

.principal__contacto form input,textarea,select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  width: 25%;
  min-width: 250px; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 6px; 
  resize: vertical;
  text-align:center;   
}

.principal__contacto form label{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  width: 25%;
  min-width: 250px;
  padding: 12px; 
  margin-top: 6px; 
  margin-bottom: 6px; 
  resize: vertical;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal__s{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.div__centrado{
  text-align: center;
}
  .div__centrado img{
    width: 375px;
    height: 375px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 30%;
  }
  .div__centrado button{
    background-color: #2388f4c5;
    color: rgb(1, 41, 75);
    border-radius: 25%;
  }
  .div__centrado p{
    width: 350px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: bold;
  }

.nav{
  color: black;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
  .nav li{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: underline;
}

.carrito{
  text-align: center;
} 
  .carrito img{
    width: 175px;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30%;
  }
  .carrito p{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 175px;
  }
.footer {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 25px; }

.success-msg {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;		
  width: 40%;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #270;
  background-color: #DFF2BF;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
 -moz-appearance: textfield;
}